/* General Properties */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0f172a;
    color: #e2e8f0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
/* Navbar */
.navbar{
    background-color: #1e293b;
    padding: 18px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    border-bottom: 3px solid #334155;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-logo{
    font-size: 24px;
    font-weight: 900;
    color: #f8fafc;
}
.nav-logo span{
    color: #3b82f6;
}
.nav-links{
    display: flex;
    gap: 32px;
}
.nav-links a{
    font-size: 16px;
    color: #94a3b8;
    transition: 0.4s;
    font-weight: 700;
    position: relative;
}
.nav-links a:hover{
    color: #3b82f6;
}
